<table class="table table-striped table-bordered table-hover">
  <caption>
    Your search result...
  </caption>
  <thead>
    <tr>
      <th id="Poster">Poster</th>
      <th id="Title">Title</th>
      <th id="Type">Type</th>
      <th id="Year">Year</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of movieList">
      <td>
        <img [src]="m.Poster" [alt]="m.Title" class="img-thumbnail" />
      </td>
      <td>{{ m.Title }}</td>
      <td>{{ m.Type | titlecase }}</td>
      <td>{{ m.Year }}</td>
    </tr>
  </tbody>
</table>
