<div *ngIf="cartService.cart.length === 0">
  <h3>Your cart is empty</h3>
</div>

<div *ngIf="cartService.cart.length">
  <table class="table">
    <thead>
      <tr>
        <th>Sl no</th>
        <th>Product name</th>
        <th class="text-end">Unit price</th>
        <th class="text-end">Discount</th>
        <th>Quantity</th>
        <th class="text-end">Amount</th>
        <th class="text-end">Savings</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let li of cartService.cart; index as slno">
        <td>{{ slno + 1 }}</td>
        <td>
          <img
            [src]="li.product.picture"
            [alt]="li.product.description"
            class="img"
          />
          {{ li.product.description }}
        </td>
        <td class="text-end">
          <del>{{ li.product.unit_price | currency: "INR" }}</del>
          &nbsp;
          {{ getDiscountedUnitPrice(li.product) | currency: "INR" }}
        </td>
        <td class="text-end">{{ li.product.discount }}%</td>
        <td>
          <app-add-to-cart-button
            [product]="li.product"
          ></app-add-to-cart-button>
        </td>
        <td class="text-end">
          {{ getAmount(li) | currency: "INR" }}
        </td>
        <td class="text-end">
          {{ getSavings(li) | currency: "INR" }}
        </td>
        <td>
          <span
            (click)="cartService.removeFromCart(li.product)"
            class="text-danger"
            [style]="{ cursor: 'pointer' }"
          >
            <i class="far fa-trash-alt"></i>
          </span>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="text-end">
        <td colspan="5"></td>
        <td>{{ cartValue | currency: "INR" }}</td>
        <td>{{ cartSavings | currency: "INR" }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <button
    class="btn btn-danger"
    [swal]="{
      title: 'This action is irreversible',
      text: 'Are you sure?',
      showCancelButton: true,
      icon: 'question',
      backdrop: true,
      timer: 5000,
      allowOutsideClick: false,
      allowEscapeKey: true,
      confirmButtonText: 'Yes, go ahead',
      cancelButtonText: 'No'
    }"
    (confirm)="cartService.emptyCart()"
  >
    Empty cart
  </button>
</div>
