<h3>Browse by brands</h3>

<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/products']">All</li>
  <li class="list-group-item" *ngFor="let b of brands">
    <div [routerLink]="['/products']" [queryParams]="{ brand: b }">
      {{ b | titlecase }}
    </div>
  </li>
</ul>

<hr />

<h3>Browse by category</h3>
<ul class="list-group">
  <li class="list-group-item" [routerLink]="['/products']">All</li>
  <li class="list-group-item" *ngFor="let c of categories">
    <div [routerLink]="['/products']" [queryParams]="{ category: c }">
      {{ c | titlecase }}
    </div>
  </li>
</ul>

<div *ngIf="customerService.isLoggedIn">
  <hr />
  <h3>Customer options</h3>
  <ul class="list-group">
    <li routerLink="/customer/order-history" class="list-group-item">
      Order history
    </li>
    <li class="list-group-item">View/update profile</li>
    <li class="list-group-item">Change password</li>
  </ul>
</div>

<div *ngIf="!isCartEmpty">
  <hr />
  <h3>Cart options</h3>
  <ul class="list-group">
    <li class="list-group-item" routerLink="/view-cart">
      <h2 class="fas fa-shopping-cart text-primary">
        <span id="lineItemQuantity">{{ lineItemQuantity }}</span>
      </h2>
      (total {{ cartValue | currency: "INR" }}, savings
      {{ cartSavings | currency: "INR" }})
    </li>
  </ul>
</div>
